/**
 * Copyright 2026 Google LLC
 * SPDX-License-Identifier: Apache-2.0
 */

@layer demo {
  ::view-transition {
    pointer-events: none;
  }
  ::view-transition-group(*) {
    animation-duration: 1s;
  }
  
  .box {
    view-transition-name: box;
  }
  
  #debug {
    position: fixed;
    opacity: 0.5;
    font-family: monospace;
    padding: 0.2rem;
    white-space: pre-wrap;
  }
}

@layer demo.support {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

  select, input {
    font-family: inherit;
  }

  html, body {
    height: 100%;
  }

  .box {
    aspect-ratio: 1;
    inline-size: 20vmin;
    background: dodgerblue;
    color: white;
    place-content: center;
    text-align: center;
  }
  
  body {
    display: grid;
    place-content: center;
    padding: 1em;
    gap: 1em;
  }
  
  html {
    view-transition-name: none;
  }
}